
#map {
        bottom:0px;
        height: 100%;
        left: 0px;
        position: absolute;
        right: 500px;
        display: none;

}
#root {
        float: right;
}

#viewjobs {
        width: 500px;
}

.job {
        text-align: center;
        font-size: 14px;
        border: 1px solid #eee;
}